<div class="row">
  <div class="col-xs-12">
    <h1 class="page-header" itemprop="name">Mass Lottery REST API</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <p>
      Hello, world!
    </p>
  </div>
</div>
